.navbar {
  background-image: rgb(60, 122, 228);
}

.links {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
