.navbar {
  background-color: hsl(21, 84%, 57%);
}

.Nav.Links {
  margin-right: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
