.cardBox {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.rumCards div {
  margin: 10px 0;
}

.card {
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 10px 10px lightgrey;
}

.card p {
  margin-top: 10px;
}

.rumCardImage {
  width: 150px;
  display: flex;
  margin: 0 auto;
}

.buttonCard {
  margin: 10px auto;
  /* justify-content: space-between; */
  text-align: center;
  display: flex;
  border-radius: 25px;
  font-weight: bold;
  border-color: transparent;
}
